*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .slider {
      margin-left: auto;
      margin-right: auto;
    height: 800px;
    width: 1200px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    
    align-items: flex-end;
    justify-content: center;
    background-color: #333;
  }
  @media screen and (min-width: 768px){
  .slider__nav:first-child {
      margin-left: 600px;
  }
}
  .slider__nav {

    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
  }
  .slider__nav:checked {
    animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .slider__image {
    font-size: 2.7rem;
        color: #2196F3;
  }
  .slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }
  .description {
    margin-top: 740px;  
    color: aliceblue;
    margin-right: 700px;
    font-size: 25px;
    max-width: 400px;
    position: absolute;
  }
  


  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #000;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .description {
        margin-top: 840px;  
        position: fixed;
        overflow: visible;
        margin-right: 300px;
      } 
    
    .wrapper {
      background-color: #333;
      height: 900px;
      width: 768px;
    }
    .slider {
      width: 100%;
    }
    img {
      /* object-fit: contain; */
      width: 600px;
    }
    .slider__nav {
      width: 25px;
      height: 25px;
    }
  }